body {
  padding:0;
  margin:0;
  font-family:sans-serif;  
}

a{
    text-decoration: none;
    color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {    
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.nav-link{
    margin-top: 10px;
}
.btn-group{
    width: 100%;
    float: left;
}
.btn{
    display: block;
    border: none;
    padding: 5.5%;
    float: left;
}
.btn:active{
    border: 2px solid silver;
} 

.btn-r{

    margin-top: 1%;
    border: 1px solid black;
    padding: 5%;

}

.container{
    text-align: center;
    margin: 3%;
    background-color: #fff;
    
}
.col-1{
    margin-top: 30px;
    width: 100%;
}

 .slider-group{
    margin-top: 200px;
    text-align: center;
 }
.slider {
    margin-top: ; 
    -webkit-appearance: none;
    width: 80%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #333;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.canvas-nav{
    text-align: center;
}

.pos_canvas{
    text-align: center;

}

#myCanvas{
    width: 80%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}

footer{
    padding: 5px;
    background-color: #333;
    text-align: center;
    color: #fff;
}