body {
  padding:0;
  margin:0;
  font-family:sans-serif;  
  width: 100%;
}

a{
    text-decoration: none;
    color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {    
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.nav-link{
    margin-top: 10px;
}

.btn{

    margin-left: 30%; 
    display: block;
    border: none;
    padding: 12%;
}

.btn-r{
    margin-top: 15%;
    margin-left: 30%; 
    display: block;
    border: 1px solid black;
    padding: 12%;

}

.container{
    margin: 2% 10% 2% 10%;
    background-color: #fff;
    
}
.col-1{
    margin-top: 30px;
    width: 20%;
    float: left;
}


.slider {
    margin-top: 15%; 
    -webkit-appearance: none;
    width: 80%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;

}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #333;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}


.pos_canvas{
    
}
.canvas-nav{
    text-align: center;
}

#myCanvas{
    width: 78%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}

footer{
    padding: 5px;
    background-color: #333;
    text-align: center;
    color: #fff;
}