*{
    box-sizing: border-box;

}
body {
  padding:0;
  margin:0;
  font-family:sans-serif;  
}

header{
    
    background: red; 
    border: 1px solid black; 
}

footer{
    background: blue; 
    border: 1px solid black; 
}
.content{
    background: green; 
    border: 1px solid black; 

}

.left-content{
    background: grey;
    border: 1px solid black;
    float:left;
    width:20%;
}
.main-content{
    background: orange;
    border: 1px solid black;
    float:left;
    width:80%;
}

@media (max-width:500px) {
  .left-content, .main-content {
    width:100%;/*The width is 100%, when the viewport is 800px or smaller*/
  }